*.pid
*.xml
*.csr
*.crt
*.key
*.conf
.*
!/.gitignore
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db*
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
plex.conf
phue.conf
harmony_lounge.conf
pyozw.sqlite
emulated_hue_ids.json
google_calendars.yaml
ios.conf
ip_bans.yaml
config.py
tidetimes
testing.yaml
#*.yaml
